/* HEADER */
.header {
    display: inline;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: normal;
    background-color: #A9CEB0;
}

h1 {
    margin-left : 20px;
    font-family: 'Muli', sans-serif;
    color: #001203;
    float: left;
}

.button {
    background-color: #B3EFBD;
    border: 1px solid #2B823A;
    border-radius: 5px;
    color: #001203;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    text-align: center;
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin-right : 20px;
}

.button:hover {
    opacity: 0.8;
}


/* GENERAL */
.option_recherche {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 400px 0 0 0;
}

a {
    text-decoration: none;
    color: #5e5e5e;
    font-family: 'Varela Round', sans-serif;
}

a:hover {
    opacity: 0.8;
}

h2 {
    font-family: 'Muli', sans-serif;
}

h3 {
    font-family: 'Varela Round', sans-serif;
}

p {
    font-family: 'Varela Round', sans-serif;
}

.button_add{
    font-size: 20px;
    color:#08250C;
}

/* LISTES */
.eachBook .eachAuthor{
    margin : 0px 0px 5px 0px;
}

#date {
    color : #154A1C;
}
